<div class="row custom-row">

  <div class= "col-sm-5 custom-container jumbotron">

      

    <form class="form-horizontal justify-content-between mx-auto">

        <fieldset>

          <legend>Adding</legend>

        

            <!--- Email Block --->

            <div class="form-group">

    	      <label for="inputEmail">Email</label>

    		  <input type="text"

                id="inputEmail"

    	        placeholder="Email">

    	   	</div>

            <!--- Password Block --->

    	   	<div class="form-group">

    	      <label for="inputPassword">Password</label>

    	      <input type="password" 

                id="inputPassword"

                placeholder="Password">

    	    </div>

    

    	    <div class="form-group">

    	      <label for="confirmPassword" >Confirm Password</label>

    	      <input type="password" 

                id="confirmPassword"

                placeholder="Password">

    	    </div>

            

            <!--- Select gender Block --->

    	    <div class="form-group">

    	      <label for="select">Gender</label>

    	        <select id="select">

    	          <option>Male</option>

    	          <option>Female</option>

    	          <option>Other</option>

    	        </select>

    	    </div>

        


    	    <div class="form-group">

    	        <button type="reset" class="btn btn-default">Cancel</button>

    	        <button type="submit"  routerLink="/" routerLinkActive="active" class="btn btn-primary">Submit</button>

    	    </div>

    	</fieldset>

    </form>

  </div>

</div>

<div>
  <a routerLink="/" routerLinkActive="active">Back to Home Page
 </a></div>
